.employee-order-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 80vw;
    /* Limit the max width for better alignment */
    width: 100%;
    padding: 20px;
}

/* Order Filter Tabs */
.order-filter-tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.order-tab {
    padding: 10px 20px;
    background-color: #1A2B45;
    color: #D2B99B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.order-tab:hover {
    background-color: #2c3e50;
}

.order-tab.active {
    background-color: #F5C142;
    color: #1A2B45;
}

/* No orders message */
.no-orders-message {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;
    background-color: #1A2B45;
    color: #D2B99B;
    border-radius: 10px;
    font-size: 18px;
}

.employee-table-card {
    background-color: #1A2B45;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #007bff;
}

.employee-table-card.vip {
    border-left: 5px solid gold;
}

.employee-table-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #F5C142;
}

.employee-order-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.employee-order-list li {
    color: #D2B99B;
    padding: 5px 0;
}

.employee-order-list li:last-child {
    border-bottom: 1px solid #ccc;
}

.status {
    font-weight: bold;
    text-transform: capitalize;
}

.order-total {
    color: #B34C43;
}

.order-time {
    color: #ffffff
}

.complete-order-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
}

.complete-order-btn:hover {
    background-color: #218838;
}

.complete-order-btn:active {
    background-color: #1e7e34;
}